@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?ab9wwt');
  src:  url('../fonts/icomoon.eot?ab9wwt#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ab9wwt') format('truetype'),
    url('../fonts/icomoon.woff?ab9wwt') format('woff'),
    url('../fonts/icomoon.svg?ab9wwt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e942";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-sphere:before {
  content: "\e9c9";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-mail4:before {
  content: "\ea86";
}


body{
	margin:0px; padding:0px;font-family: Raleway;
}
figure{
	margin:0px;
}
header{
	width: 100%;
	height: 54px;
	display: flex;
	background-color:#3c991a;
	justify-content: space-between;

}
input{
width:90%;height: 35px;
margin:10px;
border:solid 2px #e1e1e1;
}
section{
}
a{
	color:#3c991a;
	text-decoration: none;
	font-size:18px;
}
.radius, input, .btn-search,.pag{
border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;	
}
.separador{
	width: 100%;
	margin: 5px 0;
	border-top:solid 1px #e1e1e1 ;
}
.espaciador{
	width: 100%;
	margin:20px 0;
}
.btn{
 border-style: none;
 background-color: #3c991a;
 padding: 10px 30px;
 border-radius: 3px;
 color: white;
 font-size: 14px;
 cursor:pointer;
}
.container{
	width: 100%;
	max-width: 1000px;
	box-sizing: border-box;
	margin:0 auto !important;
}

.logo{
	display: inline-block;
	margin-left: 10px;
}
.menu{
	display: inline-block;
	margin-right: 10px;	
}
.menu li a{
	color:white;
	text-decoration: none;
}
.menu li{
	display: inline-block;
	margin-left: 30px;
	text-decoration: none;
}
.content-search{
	width: 100%;
	background-color:#2f3742;
	height:60px;
	}
	.content-search div.container{
		padding:0 !important;
	}
	.search{
		width: 300px;
		display: inline-block;
		float: right;
		display: flex;
		align-items: center;
		}
		.btn-search{
			border:solid 2px #505a69;
			padding: 6px;

		}
.content-search input{
	color:#505a69;
	font-size: 20px;
	width: 70%;
	margin:8px;
	background-color: #22272f;
	border-color: #505a69;
}
.portada{
	width: 100%;
	background-color:#272d35;
	}
	.slider{
		height:400px;
		width: 100%;
		background-size: 100%;background-repeat: no-repeat;
		background-image: url('../images/slide_head.png');
		}
		.caption-box{
			width:15%;
			min-width:400px;
			height: 100px;
			margin-top:280px;
			margin-left: 20px;
			padding: 5px;
			padding-left: 20px;
			color:#2f3742;
			background-color:rgba(255,255,255,0.6);
			position: absolute;
			}
			.caption-box h3{
				margin-top: 5px;
				margin-bottom: 2px;
			}
			.caption-box h5{
				margin-top: 5px;
				margin-bottom: 2px;
			}
			.caption-box p{
				margin-top: 5px;
				font-size: 13px;
			}

.columnas{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	}
	.card_post{
		min-width: 280px;
		width:25%;
		height:385px;
		margin-bottom: 40px;
		display: flex;
		color:#a3a5ad;
		border-bottom:solid 4px #3c991a;
		border-radius: 5px;
		-webkit-border-radius: 5px;
        -moz-border-radius: 5px;
		border-radius: 5px;
		/*justify-content:center;
		align-items:center;*/
		flex-direction: column;
		}
		.thumbs{
			width:100%;

			}
			.title_card{
				margin-left: 10px;
				}
			.card_post h3{
				margin: 10px 0px !important;
			}
			.descrip{
				font-size: 13px;
				margin-top: 10px;
				text-align: center;
			}
			
			.datos{
				font-size: 14px;
				margin-top: 10px;
				}
				.precio{
					display: inline-block;
					float: right;
					font-weight: bold;
					font-size: 20px;
					font-family: 'Roboto';
				}

.paginacion{
	border-top:solid 1px lightgray;
	height: 50px;
	text-align: center;
	color:#fff;
	}
	.pag{
		padding: 6px 10px;
		background-color:#2f3742;
		display: inline-block;
		border-radius: 3px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;	
		font-size: 12px;
	}
	.pag a{
		color:#fff;
	}
	.pag:hover{
		background-color: #3c991a;
		color:#fff !important;
	}

.btn-colapsar{
	display:none;
	text-align: center;
	color:#fff;
	zoom:1.7;
	width: auto;
	background-color: #246b0f;
	border-radius:50%;
	-webkit-border-radius:50%;
	-ms-border-radius:50%;
	padding: 5px;
	position: absolute;
	left:3px;top:3px;
	z-index: 11;
}

/*SCREEN iPAD*/
@media screen and (max-width: 768px){
	.btn-colapsar{
		display:block;
	}
	.columnas{
		justify-content: space-around;
	}
	.slider{
		height: 275px;
	}
	.caption-box{
		margin-top: 20px;
    	right: 0;
	}
}

/*SCREEN IPHONE 6*/
@media screen and (max-width: 650px){
	.container{
		align-items: center;
	}
	.slider{
	height: 286px;
	}
	.caption-box{
		top: 267px;
		text-align: center;
	}
	header{
		display: flex;
	    flex-direction: column;
	    align-items: center;
	}
	.menu{
		width:100%;
	    margin:54px 0 0 0;
	    padding: 10px;
	    position: absolute;
	    top: 0;bottom: 0;
	    left: -107%;; right: 0;
	    text-align: center;
	    background-color: rgba(60, 153, 26, .8);
	    box-sizing: border-box;
	    z-index:10;
	    transition: 0.3s;
	}
	.menu.active{
		left: 0;
		}
		.menu ul{
			margin:0;padding:0;
		}


		.menu li{
		margin: 0px;
	    padding: 0px;
	    border-bottom:solid 1px #fff;

		display: flex;
		align-items: center;
		flex-direction: column;
	}
	.menu li:last-child{
		border-bottom:none;		
	}

	.menu li a{
		padding:18px 0;
		font-size: 25px;

	}
	.search{
		float:none;
		margin: 0 auto;
		justify-content: center;
	}

}
